body{
    color:white;
    background-color: black;
}
h3{
    background-color: orange;
    margin: 0px;
}
#pics{
    border-radius: 50%;
}
#a{
    width:85%;
    padding-top:20px;
    padding-left: 20px;
    padding-bottom: 20px;
    float: right;
    border-left-style: solid;
    border-left-width: 5px;
    border-left-color: black;
}
#b{
    background-color: grey;
    padding:10px 10px 10px 50px;
    margin: 0px;
}
.c{
    padding-left:20px;
}
